<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="/static/images/ai-logo.png">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      <title>SSFER</title>
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-md-center">
            <h1>SSFER: Single Shot Facial Expression Recognition</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-8">
                <textarea name="" id="myTextarea" cols="30" rows="10"></textarea>
            </div>
            <div class="col-6 col-lg-4">
                <form action="/" method="POST" enctype="multipart/form-data" name="form_image">
                    <div class="form-group">
                        <label for="sent-image">Selecione uma imagem</label>
                        <input type="file" class="form-control-file" id="sent-image" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        var resp = {{ res | tojson }};
        var textedJson = JSON.stringify(resp, undefined, 4);
        $('#myTextarea').text(textedJson);
    </script>
  </body>
</html>