<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SSFER - Single Shot Facial Expression Recognition</title>

  <link rel="icon" href="/static/images/ai-logo.png">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/resume.min.css" rel="stylesheet">

  <link href="/static/css/customizing.css" rel="stylesheet">


</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/img/profile.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#demo1">Demo - Upload Image</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#demo2">Demo - Real Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#docs-api">Docs - API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#docs-return">Docs - Response</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#publications">Publications</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">SSFER:
          <span class="text-primary">Single Shot Facial Expression Recognition</span>
        </h1>
        <div class="subheading mb-5">Institute of Computing · Federal University of Amazonas · Brazil ·
          <a href="mailto:aac@icomp.ufam.edu.br">aac@icomp.ufam.edu.br</a>
          ·
          <a href="mailto:rbarreto@icomp.ufam.edu.br">rbarreto@icomp.ufam.edu.br</a>
        </div>
        <p class="lead mb-5">This API is free, as a result of research carried out at PPGI - Institute of Computing at Federal University of Amazonas (UFAM) - Brazil. This API recognizes 7 emotions through facial expressions. The method is based on: computer vision, deep learning, and artificial intelligence.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/anderson-cruz-b02167b9/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/andersoncruzz/SSFER-API">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="demo1">
      <div class="w-100">
        <h2 class="mb-5">Demo - Upload Image</h2>
            <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-lg-8">
                      <textarea name="" id="myTextarea" cols="60" rows="20"></textarea>
                  </div>
                  <div class="col-6 col-lg-4">
                    <row class="row">
                      <form action="/" method="POST" enctype="multipart/form-data" name="form_image">
                          <div class="form-group">
                              <label for="sent-image">Select an image</label>
                              <input type="file" class="form-control-file" id="sent-image" name="file">
                          </div>
                          <button type="submit" class="btn btn-outline-dark">Submit</button>
                      </form>
                    </row>
                    <row class="row mt-4">
                     <img id="img-rec" class="img-fluid" src="/static/img/profile.jpg"
                          alt="GeeksforGeeks logo">
                      </row>
                  </div>
              </div>
          </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="demo2">
      <div class="w-100">
        <h2 class="mb-5">Demo - Real Time</h2>
            <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-lg-8">
                    <video id="player" controls autoplay></video>
                  </div>
                  <div class="col-6 col-lg-4">
                    <row class="row">
                      <button id="capture" class="btn btn-outline-dark">Capture</button>
                    </row>
                    <row class="row mt-4">
                      <canvas id="snapshot" width=320 height=240></canvas>
                    </row>
                    <row class="row mt-4">
                      <textarea name="" id="txtArea-realtime" cols="40" rows="20"></textarea>
                    </row>

                  </div>
              </div>
          </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="docs-api">
      <div class="w-100">
        <h2 class="mb-5">Docs - API</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-3">cURL - Command</h3>
            <div class="bg-dark">
              <samp class="sample">$ curl --location --request POST 'https://ec2-18-217-205-88.us-east-2.compute.amazonaws.com/'
                        --header 'Content-Type: application/octet-stream'
                        --header 'Content-Type: text/plain'
                        --data-raw 'IMAGE CONVERTED TO BASE 64'</samp>
            </div>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-3">Python</h3>
            <div class="bg-dark">
              <samp class="sample">
                <pre class="sample">
  import requests
  url = "https://ec2-18-217-205-88.us-east-2.compute.amazonaws.com/"
  payload = #IMAGE CONVERTED TO BASE 64
  headers = {
    'Content-Type': 'application/octet-stream',
    'Content-Type': 'text/plain'
  }
  response = requests.request("POST", url, headers=headers, data = payload)
              </pre></samp>
            </div>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="docs-return">
      <div class="w-100">
        <h2 class="mb-5">Docs - Response</h2>
        <div class="col-sm-6 col-lg-8">
          <textarea name="" cols="60" rows="20" id="responseJson"></textarea>
        </div>

      </div>
    </section>


    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publications">
      <div class="w-100">
        <h2 class="mb-5">Publications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-circle-notch"></i>
            CRUZ, ANDERSON; LEITÃO, GABRIEL ; COLONNA, JUAN ; SILVA, EDSON ; BARRETO, RAIMUNDO ; PRIMO, TIAGO . Framework para coleta e inferência de estados emocionais de alunos baseado em reconhecimento de expressões faciais. In: XXVIII Simpósio Brasileiro de Informática na Educação SBIE (Brazilian Symposium on Computers in Education), 2017, Recife, 2017. p. 997. <a href="http://dx.doi.org/10.5753/cbie.sbie.2017.997">DOI</a>
          </li>
          <li>
            <i class="fa-li fa fa-circle-notch"></i>
            	CRUZ, Anderson Araújo da. Uma abordagem para reconhecimento de emoção por expressão facial baseada em redes neurais de convolução. 2019. 120 f. Dissertação (Mestrado em Informática) - Universidade Federal do Amazonas, Manaus, 2019. <a href="https://tede.ufam.edu.br/handle/tede/7320">Available at</a>
          </li>

        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/resume.min.js"></script>

  <script>
    const responseExample = {
        "faces": [
          {
            "emotionMajority": "happiness",
            "emotionsProbabilities": {
              "angry": 0.0,
              "disgust": 0.01,
              "fear": 0.0,
              "happiness": 0.88,
              "neutral": 0.07,
              "sadness": 0.0,
              "surprise": 0.04
            },
            "faceRectangle": {
              "X": 136,
              "Y": 233,
              "height": 175,
              "width": 151
            }
          },
          {
            "emotionMajority": "happiness",
            "emotionsProbabilities": {
              "angry": 0.02,
              "disgust": 0.05,
              "fear": 0.01,
              "happiness": 0.87,
              "neutral": 0.03,
              "sadness": 0.01,
              "surprise": 0.02
            },
            "faceRectangle": {
              "X": 275,
              "Y": 422,
              "height": 173,
              "width": 143
            }
          }
        ],
        "total_faces": 2
      };
    var textedJson = JSON.stringify(responseExample, undefined, 4);
    $('#responseJson').text(textedJson);
  </script>

  <script>
      var resp = {{ res | tojson }};
      var respJSON = JSON.parse(resp);
      var textedJson = JSON.stringify(respJSON, undefined, 4);
      $('#myTextarea').text(textedJson);
      if (!jQuery.isEmptyObject(respJSON)){
        window.location = '#demo1';
      }
  </script>

<script>
  var im = {{ img | tojson}};
  var imJSON = JSON.parse(im);
  if(!jQuery.isEmptyObject(imJSON)) {
    document.getElementById('img-rec')
            .setAttribute('src', imJSON.img);
  }
</script>

<script>
  var player = document.getElementById('player');
  var snapshotCanvas = document.getElementById('snapshot');
  var captureButton = document.getElementById('capture');

  var handleSuccess = function(stream) {
    // Attach the video stream to the video element and autoplay.
    player.srcObject = stream;
  };

  captureButton.addEventListener('click', function() {
    var context = snapshot.getContext('2d');
    // Draw the video frame to the canvas.
    context.drawImage(player, 0, 0, snapshotCanvas.width,
        snapshotCanvas.height);
    var image = snapshotCanvas.toDataURL();
    var img_filtered = image.split(",")[1];
    $.ajax({
      url: "/ssfer",
      type:"POST",
      data:img_filtered,
      contentType:"application/octet-stream",
      success: function(data){
        var image = new Image();
        image.onload = function() {
          context.drawImage(image, 0, 0);
        };
        image.src = data.img;

        var textedJson = JSON.stringify(data.faces.faces, undefined, 4);
        $('#txtArea-realtime').text(textedJson);
      }
    });
  });

  navigator.mediaDevices.getUserMedia({video: true})
      .then(handleSuccess);
</script>

</body>

</html>
